<div id = "title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

<article class = "about">
  <h2>Sobre mi</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsam in, illo quis nisi nobis? Fugiat enim facere voluptates, blanditiis, neque accusamus nesciunt repellat sequi nobis veritatis obcaecati recusandae laborum.
    Libero omnis, debitis id non facere, voluptas harum dolores laboriosam beatae possimus magnam, rem ad atque veritatis. Beatae eaque sit excepturi, magnam natus aut voluptatibus odit soluta quaerat recusandae animi.
    Veniam amet quos consectetur consequatur dignissimos! Nam possimus nisi deserunt? Excepturi iure dolore amet quia asperiores nemo blanditiis esse. Deleniti nulla voluptas facilis repudiandae! Fuga esse repellendus reiciendis facere explicabo!
    Animi architecto iste ullam, porro eligendi quisquam illum mollitia, illo voluptatem cum, voluptas iure ex maxime facere placeat excepturi! Laborum ad eligendi placeat impedit voluptate repudiandae, consectetur vel voluptatibus exercitationem.
    Repellendus eum ratione sed, voluptatem tempora expedita sequi magni incidunt, perferendis ipsam esse pariatur voluptatum at harum, aliquid earum. Ullam doloribus aperiam ipsum esse saepe iusto, at iste vitae totam.
  </p>
</article>
